<div class="introduce__container-divide">
  <a
    href="/introduces/loi-ngo"
    class="divided <%= path1 === '/introduces/loi-ngo' ? 'addColor' : '' %>"
  >
    Lời Ngỏ
  </a>
  <a
    href="/introduces/phuong-cham"
    class="divided  <%if(path1) {%> <%= path1 === '/introduces/phuong-cham' ? 'addColor' : '' %> <% } %>"
  >
    Phương Châm NextStore
  </a>
</div>
