.auth {
    margin: 0 auto;
}


.auth__container {
    width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
}

.auth__content {
    
}

.auth__title {
    width: 80%;
    font-size: 1.1rem;
    padding-bottom: 2rem;

}

.auth__content h2 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0 auto;
}


.auth__container-form {
    background: white;
    margin-top: 1rem;
    padding: 2rem 0;
    text-align: center;
}

.auth__form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
}

.auth__form-control label {
    margin-bottom: 0.5rem;
    width: 80%;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}

.auth__search {
    border: 1px solid #ccc;
    padding: 0.6rem 1rem;
    outline: none;
    width: 80%;
}

.auth__search::placeholder {
    font-weight: bold;
    font-size: 0.9rem;
}

.auth__btn-auth {
    width: 80%;
    background: rgb(255, 169, 8);
    border: none;
    padding: 0.6rem 0;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

.auth__btn-auth:hover {
    background-color: rgba(255, 169, 8, 0.5);
}

.auth__container-link {
    display: flex;
    margin: 2rem auto 1rem;
    justify-content: space-between;
    width: 80%;

}

.auth__container-link-signup {
    justify-content: center;
}

.auth__link-signup {
}


.auth__link {
    color: #1a9cb7;
}

.auth__forget {
    text-align: right;
}