<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chấp nhận thanh toán</title>
    <meta name="description" content="A payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/checkout.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/checkout.js" defer></script>
  </head>
  <body>
    <!-- Display a payment form -->
    <div id="checkout">
      <!-- Checkout will insert the payment form here -->
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', async () => {
      async function initialize() {
        const stripe = await Stripe(
          'pk_test_51NZxakFZc1P48npZkG7B7BdO9YeyYkIFcDSQYw7Ig0Q9qGACPPyIzP5C9qOQRsni67h3tB1BvDNhTUqWeqgc6uql00Q48KCjKl',
        );
        const response = await fetch('/create-checkout-session', {
          method: 'POST',
        });
        const { clientSecret } = await response.json();
        const checkout = await stripe.initEmbeddedCheckout({
          clientSecret,
        });

        // Mount Checkout
        checkout.mount('#checkout');
      }

      initialize();
    });
  </script>
</html>
