<footer class="footer">
  <div class="footer-container">
    <div class="footer-send-mail">
      <section class="newsletter">
        <div class="footer-send-mail__container max-width">
          <div class="footer-left col-sm-6">
            <h3>Đăng ký nhận thông tin mới từ NextStore</h3>
          </div>
          <div class="footer-right col-sm-6">
            <form action="" method="post">
              <input
                type="text"
                placeholder="Nhập địa chỉ email"
                name="email"
              />
              <button class="send-mail">Gửi ngay ></button>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div class="footer-info max-width">
      <div class="contact-policy-rules">
        <div class="contact col-sm-6">
          <h3>CÔNG TY TNHH NEXTSTORE VIETNAM</h3>
          <ul class="contact-left col-sm-12">
            <li class="col-sm-6">
              <h3>Điện thoại liên hệ</h3>
              <p>
                <a href="tel:0359762572">035 976 2572</a>
              </p>
              <h3>Hotline CSKH</h3>
              <p>
                <a href="tel:0967936728">096 793 6728</a>
              </p>
            </li>
            <li class="col-sm-6">
              <h3>Email liên hệ:</h3>
              <p>
                <a href="mailto:locvedan112@gmail.com">locvedan112@gmail.com</a>
              </p>
              <h3>Email ngành hàng:</h3>
              <p>
                <a href="mailto:locvedan111@gmail.com">locvedan111@gmail.com</a>
              </p>
              <h3>Email nhượng quyền:</h3>
              <p>
                <a href="mailto:locvedan112@gmail.com">locvedan112@gmail.com</a>
              </p>
            </li>
          </ul>
        </div>
        <div class="policy-rules col-sm-6">
          <ul class="col-sm-12 list-policy-rules">
            <li class="col-sm-6">
              <a href="">
                <h3>Điều khoản sử dụng website</h3>
              </a>
            </li>
            <li class="col-sm-6">
              <a href="">
                <h3>Chính sách bảo mật</h3>
              </a>
            </li>
            <li class="col-sm-12" style="padding-top: 20px">
              <a href="">
                <h3>Chính sách và quy định chung</h3>
              </a>
              <ul class="list-policy-regulation">
                <li><a>Thông tin về sản phẩm</a></li>
                <li><a>Thông tin về giá cả</a></li>
                <li><a>Hạn chế về cung cấp hàng hóa</a></li>
                <li><a>Quy định về thanh toán</a></li>
                <li><a>Quyền và nghĩa vụ giữa các bên</a></li>
                <li><a>Chính sách vận chuyển hàng hóa</a></li>
                <li>
                  <a>Chính sách bảo hành/bảo trì và đổi trả hàng hóa</a>
                </li>
                <li><a>Điều khoản giao dịch chung</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-address max-width">
      <h3>
        Giấy CNĐKKD số 0314658576 cấp lần đầu ngày 03/10/2017 tại Sở kế hoạch
        đầu tư Tp. Hồ Chí Minh
      </h3>
      <ul class="info-address">
        <li>
          <p>
            <b>Lĩnh vực kinh doanh</b>
          </p>
          <p>
            NextStore Vietnam - Chuỗi cửa hàng tiện lợi đến từ Hàn Quốc - Mở cửa
            24/7. Copyright<br />© 2017 by B's mart Vietnam. All Rights
            Reserved.
          </p>
        </li>
      </ul>
      <ul class="info-address">
        <li>
          <p>
            <b>Địa chỉ</b>: 138-142 Hai Ba Trung, Da Kao Ward, District 1, HCMC.
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
