:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --header: #ddc89b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0 !important;
}

body {
  background: #eff0f5;
}

ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.max-width {
  max-width: var(--max-width);
}

.no-product,
.no-product1 {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 7rem 0;
}

.no-product1 {
  display: none;
}

/* error-auth */

.error-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9fa;
  border: 1px solid red;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto 1rem;
}

.error-auth-admin {
  width: 100%;
}

.error-auth svg {
  height: 100%;
  width: 18px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.error-auth h5 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 0 5px;
  position: relative;
  color: red;
}

.invalid {
  border-color: red !important;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.pagination a {
  text-decoration: none;
  color: blue;
  border: 1px solid blue;
  margin: 0 3px;
  padding: 4px 14px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  height: 100%;
}

.page-pagination:hover,
.page-pagination:active,
.active-current {
  background-color: blue;
  color: white !important;
}

.page-pagination-no-click {
  padding: 0 6px;
  font-size: 30px !important;
  margin: 0;
  font-weight: 500;
  color: blue;
  border: none !important;
  padding: 0 !important;
}

/* active */

#active-li {
  background-color: rgb(9, 129, 234);
}

.active {
  color: white !important;
}

#active {
  color: white;
}

.container_error-404,
.container_error-500 {
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
