.container-new {
    margin: 0 auto;
}
/* banner */

.news__banner {
    margin-top: 2rem;
}

.news__banner-img {
    width: 100%;
    height: 400px;
}

/* content */

.news__content {
    margin: 3rem auto;
    min-height: 300px;
}

.news__content-container {
    width: 100%;
    display: flex;
}

.news__content-title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-bottom: 0.6rem;
    font-weight: 700;
}

.news__content-product-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 18%;
    transition: all .2s ease-in;
    margin: 0 1%;
    position: relative;
}



.news__content-product-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}


.imageProduct {
}

.news__content-img {
    width: 100%;
    width: 180px;
    height: 180px;
}

.news__content-title-product {}

.news__content-title-product h2 {
    padding: 0 0.6rem;
    margin: 1rem 0 1rem;
    font-size: 1.4rem;
}

.news__border {
    border-top: 4px solid #ccc;
    width: 3rem;
    margin:  0 auto;
    margin-bottom: 1rem;
}

.news__content-post-date {
    border: 2px solid rgb(3, 228, 3);
    ;
    width: 30%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: -0.6rem;
}

.news__content-day {
    font-size: 1.6rem;
    color: rgb(3, 228, 3);
    height: 50%;
}

.news__content-month {
    height: 50%;
    font-size: 1.4rem;
    color: rgb(3, 228, 3);
    line-height: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.3rem;
}

.news__content-product-container:hover .news__content-post-date{
    background: rgb(3, 228, 3);
}

.news__content-product-container:hover .news__content-post-date span {
    color: white;
}
