.list-product__form-add {

}

.list-product__form-add-cart {
    display: flex;
    align-items: center;
}



.list-product__btn {
    border: none;
    background-color: var(--header);
    color: white;
    padding: 0.6rem 2.5rem;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 0.4rem;
    display: flex;
    align-items: center;
}

.list-product__btn:hover {
    background: green;
}

.list-product__detail-container {
    background-color: transparent;
    padding: 0.4rem 0.6rem;
    border: 1px solid blue;
    border-radius: 3px;
    margin-right: 0.4rem;
}

.list-product__detail-container:hover{
    background-color: blue;
}

.list-product__detail-container:hover .list-product__detail{
    color: white;

}

.list-product__detail {
    font-size: 1rem;
    color: blue;
    font-weight: bold;
    padding: 0 1rem;
}


/* detail-product  */

.card-product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title-detail {
    margin: 1rem 0;
}

.card-title-detail h4 {
    font-size: 2.2rem;
}

.card-image-detail img{
    width: 400px;
}

.card-price-detail {
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.card-action-detail {
    margin: 1.8rem 0;
}

.card-action-detail button{
    padding: 0.6rem 5rem;
    font-size: 1.6rem !important;
}
